sdds/specs/ImportSpec.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="importspec">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="warehouses">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="warehouse">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="name" type="warehousename" use="required" />
                  <xs:attribute name="repositorykey" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="imports">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="line">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                    <xs:element  maxOccurs="unbounded" name="componentsuite">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="version" type="xs:string" use="required" />
                        <xs:attribute name="artifact" type="xs:string" use="optional" />
                        <xs:attribute name="fileset" type="xs:string" use="optional" />
                        <xs:attribute name="longdic" type="xs:string" use="required" />
                        <xs:attribute name="shortdic" type="xs:string" use="required" />
                        <xs:attribute name="marketingversion" type="xs:string" use="optional" />                        
                      </xs:complexType>
                    </xs:element>
                    <xs:element  maxOccurs="unbounded" name="component">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="version" type="xs:string" use="optional" />
                        <xs:attribute name="artifact" type="xs:string" use="optional" />
                        <xs:attribute name="fileset" type="xs:string" use="optional" />
                        <xs:attribute name="longdic" type="xs:string" use="optional" />
                        <xs:attribute name="shortdic" type="xs:string" use="optional" />
                        <xs:attribute name="partial_version" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="warehousename">
    <xs:restriction base ="xs:string">
      <xs:maxLength value="48"/>
      <xs:pattern value="([a-zA-Z]|[0-9]|_|-)*" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>